* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 20px;
  color: #2b2b2b;
}

h2 {
  margin-top: 2px;
  color: rgb(63, 184, 178);
}

h4 {
  margin-top: 6px;
  color:rgb(150, 150, 150)
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

button {
  margin-top: 10px;
  border: 0;
  border-radius: 20px;
  width: 30px;
  color: black;
  background-color: rgb(90, 192, 90);
}

.errado {
  background-color: rgb(255, 73, 73);
}

.atualizar, .sections {
  width: fit-content;
  padding: 5px;
}

.sections {
  border-radius: 2px;
  border: 1px solid #3a3a3a35;
  background-color: antiquewhite;
}
